
* {
  box-sizing: border-box;
  padding: 50;
  margin: 50;
}

body {
    font-family: 'Ubuntu', serif;
    font-size: 24px;
    background-color: navy;
    color: white;
}
#container {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 3fr;
    width: 100vh;
    height: 100vh;
}

#main {
    grid-area: main;
}

#new-message {
    position: fixed;
    bottom: 50px;
    width: 100%;
    padding: 5px;
    margin-left: 0px;
    border-top: 3px solid whitesmoke;
}

#messages-list {
    padding: 5px 0 0 5px;
}

#sidebar {
    grid-area: sidebar;
    padding: 5px 0 0 5px;
    border-right: 3px solid whitesmoke;
    height: 100%;
};